<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <renderLayout>
        <processor type="ChangePersona.StartAnalyticsInPreview, ChangePersona" patch:before="processor[@type='Sitecore.Pipelines.RenderLayout.InsertRenderings, Sitecore.Kernel']" />
        <processor type="Sitecore.Pipelines.RenderLayout.InsertRenderings, Sitecore.Kernel">
          <patch:attribute name="type">ChangePersona.CustomInsertRenderings, ChangePersona</patch:attribute>
        </processor>
      </renderLayout>
    </pipelines>
    <commands>
      <command name="webedit:personamenu" type="ChangePersona.PersonaMenu, ChangePersona"/>
      <command name="webedit:activatepersona" type="ChangePersona.ActivatePersona, ChangePersona"/>
      <command name="webedit:resetprofile" type="ChangePersona.ResetProfile, ChangePersona"/>
      <command name="webedit:editprofilekey" type="ChangePersona.EditProfileKey, ChangePersona"/>
    </commands>
  </sitecore>
</configuration>